@model IEnumerable<AnunciosWebMVC.Anuncios.Servicios.DataTransferO.AnuncioView>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

@{
    ViewData["Title"] = "Anuncios Publicados";
}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="busqueda p-5" style="background-color: white">
                <div class="d-inline text-success text-center mb-5">
                    <h5>Buscador de Anuncios</h5>
                </div>
                <form class="col h-100">
                    <div class="form-group h-25">
                        <label for="formGroupExampleInput">Anuncio</label>
                        <input type="text" class="form-control" id="findtext" placeholder="Teclee entrada">
                        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
                    </div>
                    <div class="form-group h-25">
                        <label class="control-label">Tipo</label>
                        <select class="form-control" asp-items="ViewBag.tipos" id="findselect"></select>
                    </div>
                    <div class="row form-group h-25 mx-sm-3 mb-2">
                        <div class="col">
                            <label class="sr-only">Min</label>
                            <input type="text" class="form-control" id="findmin" placeholder="Minimo">
                        </div>
                        <div class="col">
                            <label class="sr-only">Max</label>
                            <input type="text" class="form-control" id="findmax" placeholder="Maximo">
                        </div>
                    </div>
                    <div class="form-group h-25 text-center">
                        <div class="col">
                            <button type="submit" id="btnfind" onclick="javascript:ReloadEvents(findtext.value, findselect.value, findmax.value, findmin.value)" class="btn btn-primary">Buscar</button>
                        </div>
                    </div>
                    </form>
                <div class="row"></div>
                <div class="row ">
                    @{var country = (AnunciosWebMVC.Anuncios.Servicios.Models.PaginaModelo)ViewBag.mipagina;}
                    @await Html.PartialAsync("_paginador", country)
                </div>
            </div>


        </div>
         <div class="col-8">
             <div class="row" id="listavista">
                @await Html.PartialAsync("_Listavista", Model)
            </div>

        </div>
    </div>
</div>

